<h1>Showing <%= @word.eng_si %>/<%= @word.nor_si %></h1>
<%= word_info(@word.eng_si, "English (Singular)") %>
<%= word_info(@word.nor_si, "Normangian (Singular)") %>
<%= word_info(@word.eng_pl, "English (Plural)") %>
<%= word_info(@word.nor_pl, "Normangian (Plural)") %>
<%= word_info(@word.eng_def_si, "English (Definite Singular)") %>
<%= word_info(@word.nor_def_si, "Normangian (Definite Singular)") %>
<%= word_info(@word.eng_def_pl, "English (Definite Plural)") %>
<%= word_info(@word.nor_def_pl, "Normangian (Definite Plural)") %>
<%= word_info(@word.eng_pre, "English (Present Tense)") %>
<%= word_info(@word.nor_pre, "Normangian (Present Tense)") %>
<%= word_info(@word.eng_past, "English (Past Tense)") %>
<%= word_info(@word.nor_past, "Normangian (Past Tense)") %>
<%= word_info(@word.eng_fut, "English (Future Tense)") %>
<%= word_info(@word.nor_fut, "Normangian (Future Tense)") %>
<p ><span class="label">>Categorized under:</span></p>

<p><%= link_to "Edit", edit_word_path(@word) %></p>