<h1>Showing <%= @word.eng_si %>/<%= @word.nor_si %></h1>
<%=  @word.eng_si %><br/>
<%=  @word.nor_si %><br/>
<%=  @word.eng_pl %><br/>
<%=  @word.nor_pl %><br/>
<%=  @word.eng_def_si %><br/>
<%=  @word.nor_def_si %><br/>
<%=  @word.eng_def_pl %><br/>
<%=  @word.nor_def_pl %><br/>
<%=  @word.eng_pre %><br/>
<%=  @word.nor_pre %><br/>
<%=  @word.eng_past %><br/>
<%=  @word.nor_past %><br/>
<%=  @word.eng_fut %><br/>
<%=  @word.nor_fut %><br/>