<%= h1_for_obj(@word.eng_si, "Showing #{@word.eng_si}") %>
<%= word_info(@word.eng_si, "English (Singular)") %>
<%= word_info(@word.nor_si, "Normangian (Singular)") %>
<%= word_info(@word.eng_pl, "English (Plural)") %>
<%= word_info(@word.nor_pl, "Normangian (Plural)") %>
<%= word_info(@word.eng_def_si, "English (Definite Singular)") %>
<%= word_info(@word.nor_def_si, "Normangian (Definite Singular)") %>
<%= word_info(@word.eng_def_pl, "English (Definite Plural)") %>
<%= word_info(@word.nor_def_pl, "Normangian (Definite Plural)") %>
<%= word_info(@word.eng_pre, "English (Present Tense)") %>
<%= word_info(@word.nor_pre, "Normangian (Present Tense)") %>
<%= word_info(@word.eng_past, "English (Past Tense)") %>
<%= word_info(@word.nor_past, "Normangian (Past Tense)") %>
<%= word_info(@word.eng_fut, "English (Future Tense)") %>
<%= word_info(@word.nor_fut, "Normangian (Future Tense)") %>
<p ><span class="label">Categorized under:</span> <%= link_to @word.category.title, category_path(@word.category.id) %></p>


<p><%= link_to "Edit", edit_word_path(@word) %> 

<h2>Associated Phrases</h2>
<% @word.phrases.each do |phrase| %>
    <p><span class="label">English:</span> <%= phrase.eng %></p>
    <p><span class="label">Normangian:</span> <%= phrase.nor %></p>
    <p><%= link_to "Edit Phrase", edit_phrase_path(phrase) %></p>
<% end %>