<h1><%= @category.title %></h1>

<h2>Associated Words</h2>
<% @category.words.each do |word| %>
    <h4><%= link_to word.eng_si, word_path(word) %></h4>
<% end %>
<%= link_to "New Word", new_word_path(category_id: @category.id) %>

<h2>Associated Words</h2>
<% @category.phrases.each do |phrase| %>
    <h4><%= phrase.word %></h4>
    <p><span class="label">English:</span> <%= phrase.eng %></p>
    <p><span class="label">Normangian:</span> <%= phrase.nor %></p>
    <p><%= link_to "Edit Phrase", edit_phrase_path(phrase) %></p>
<% end %>

<%= link_to "Go Back to All Categories", categories_path %>